<h1>Bulletin Board</h1>
<table>
  <tr>
    <td>Title</td>
    <td>
      <input type="text" placeholder="title" name="title" [(ngModel)]="bulletinBoard.title">
    </td>
  </tr>

  <tr>
    <td>Body:</td>
    <td>
      <input type="text" placeholder="body" name="body" [(ngModel)]="bulletinBoard.body">
    </td>
  </tr>

  <tr>
    <td>Accessibility:</td>
    <td>
      <input type="text" placeholder="accessibility" name="accessibility" [(ngModel)]="bulletinBoard.isPrivate">
    </td>
  </tr>

  <br>

  <tr>
    <td></td>
    <td>
      <button (click)="addToBoard()">Add to Board</button>
    </td>
  </tr>

</table>

<br>

<h3>Board</h3>
<table>
  <thead>
    <th>Title</th>
    <th>Body</th>
    <th>Accessibility</th>
  </thead>
  <tbody>
    <tr *ngFor="let i of board" class="stripes">
      <td>{{ i.title }}</td>
      <td>{{ i.body }}</td>
      <td>{{ i.isPrivate }}</td>
    </tr>
  </tbody>
</table>